@using wf_ui.Data
@inject ArticleService ArticleService

<h3>Submit Article</h3>
    <div class="form-group">
        <input placeholder="Author Name" @bind="Author" class="form-control" />
    </div>
    <div class="form-group">
        <input placeholder="Article URL" @bind="Url" class="form-control" />
    </div>
    <button @onclick="SubmitArticleForReview" class="btn btn-primary">Submit</button>
@if (showMessage)
{
    <div class="row mt-2">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                Article submitted.
            </div>
        </div>
    </div>
}

<input type="text" @bind="Result" />
<p>Current count: @Result @showMessage @currentCount</p>

@code {
    private string Author;
    private string Url;
    private bool showMessage = false;
    private string Result;

    private void SubmitArticleForReview()
    {
        var result = Task.Run(async () =>
        {
            return await ArticleService.SubmitArticleForReview();
        });
        Result = result.Result;
        @* Result = await ArticleService.SubmitArticleForReview(); *@
        showMessage = !string.IsNullOrEmpty(Result);
        Console.WriteLine($"Result is {Result}/{showMessage}");

    }

}
