@page "/"
@using wf_ui.Data
@inject ArticleService ArticleService
@inject KafkaService KafkaService

<h3>Submit Article</h3>
<div class="form-group">
    <input placeholder="Author Name" @bind="Author" class="form-control" />
</div>
<div class="form-group">
    <input placeholder="Article URL" @bind="Url" class="form-control" />
</div>
<button @onclick="SubmitArticleForReview" class="btn btn-primary">Submit</button>
@if (showMessage)
{
    <div class="row mt-2">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                Article submitted.
            </div>
        </div>
    </div>
}


@code {
    private string Author;
    private string Url;
    private bool showMessage = false;

    private void SubmitArticleForReview()
    {
        Task.Run(async () =>
        {
            await ArticleService.SubmitArticleForReview(new Models.Article { Author = Author, Url = Url });
        });
        @* Result = result.Result; *@
        @* Result = await ArticleService.SubmitArticleForReview(); *@
        showMessage = true;
        @* Console.WriteLine($"Result is {Result}/{showMessage}"); *@
        @* KafkaService.Send($@"{{ ""author"": ""{Author}"", ""url"":""{Url}""}}"); *@
    }

}
